<h3>
    Hi! {{own.name}}
</h3>
<div>
    <ul class="people_list">
        {{#each others}}
            <li>{{this.id}}: {{this.name}}</li>
        {{/each}}
    </ul>
</div>
<script>
    const userId = '{{own.id}}';
    const userName = '{{own.name}}';
    connectRooms(userId, userName);
</script>
